<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>183791723032-a6cvf8btipj4ipp6jel7034itrdqdqsc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183791723032-a6cvf8btipj4ipp6jel7034itrdqdqsc</string>
	<key>API_KEY</key>
	<string>AIzaSyCNTfNIxEF5Wgq4XhP1xjk9CxOzriUqzBE</string>
	<key>GCM_SENDER_ID</key>
	<string>183791723032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.ktam.BookerApp</string>
	<key>PROJECT_ID</key>
	<string>bookerapp-58132</string>
	<key>STORAGE_BUCKET</key>
	<string>bookerapp-58132.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:183791723032:ios:2cc9fec3e07dc13f</string>
	<key>DATABASE_URL</key>
	<string>https://bookerapp-58132.firebaseio.com</string>
</dict>
</plist>
